<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <div v-if="!listPerson.length" class="text-center">Không có dữ liệu nào</div>
      <template v-else>
        <tr v-for="(person, index) in listPerson" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ person.firstName }}</td>
          <td>{{ person.lastName }}</td>
          <td>
            <comp-button
              :typeBtn="'danger'"
              :index="index"
              @handleDanger="handleDanger"
            />
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "comp-table",
  components: {
    CompButton: () => import("./CompButton.vue"),
  },
  props: {
    listPerson: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    handleDanger(index) {
      this.$emit("handleRemovePerson", index);
    },
  },
};
</script>

<style />
