<template>
  <div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input
        type="text"
        class="form-control"
        placeholder="FirstName"
        aria-label="FirstName"
        v-model="inputFirstName"
        @input="handleInputFirst"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input
        type="text"
        class="form-control"
        placeholder="LastName"
        aria-label="LastName"
        v-model="inputLastName"
        @input="handleInputLast"
        aria-describedby="addon-wrapping"
      />
    </div>
  </div>
</template>

<script>
export default {
    name: "comp-input",
    props: {
        firstName: {
            type: String,
            default: ""
        },
        lastName: {
            type: String,
            default: ""
        },
    },
    data() {
        return {
            inputFirstName: "",
            inputLastName: "",
        }
    },
    watch: {
        firstName(value) {
            this.inputFirstName = value
        },
        lastName(value) {
            this.inputLastName = value
        }
    },
    methods: {
        handleInputFirst(e) {
            this.$emit("changeName", this.inputFirstName, e.target.ariaLabel)
        },
        handleInputLast(e) {
            this.$emit("changeName", this.inputLastName, e.target.ariaLabel)
        }
    },
}
</script>

<style/>
