<template>
  <button
    type="button"
    class="btn"
    :class="objBtn.class"
    @click="handleClickButton"
  >
    {{ objBtn.txt }}
  </button>
</template>

<script>
export default {
  name: "comp-button",
  props: {
    typeBtn: {
      type: String,
      default: "",
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    objBtn() {
      switch (this.typeBtn) {
        case "success":
          return {
            txt: "Add",
            class: "btn-success",
          };
        case "danger":
          return {
            txt: "Danger",
            class: "btn-danger",
          };
        default:
          return {
            txt: "",
            class: "",
          };
      }
    },
  },
  methods: {
    handleClickButton() {
      switch (this.typeBtn) {
        case "success":
          this.$emit('handleAddPerson')
          break
        case "danger":
          this.$emit('handleDanger', this.index)
          break
      }
    }
  },
};
</script>

<style></style>
