<template>
  <div class="form">
    <h2>Form:</h2>
    <comp-input
      :firstName="firstName"
      :lastName="lastName"
      @changeName="changeName"
    />
    <div v-if="message" :class="isSuccess ? 'messageSuccess' : 'messageError'">
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  components: { CompInput: () => import("./CompInput.vue") },
  name: "comp-form",
  props: {
    firstName: {
      type: String,
      default: "",
    },
    lastName: {
      type: String,
      default: "",
    },
    message: {
      type: String,
      default: "",
    },
    isSuccess: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    changeName(payload, typeInput) {
      if(typeInput === "FirstName") {
        this.$emit("update:firstName", payload)
      } else if (typeInput === "LastName") {
        this.$emit("update:lastName", payload)
      }
      this.$emit("update:message", '')
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.messageError {
  color: red;
}
.messageSuccess {
  color: green;
}
</style>
