<template>
  <div id="app">
    <comp-form
      :firstName.sync="firstName"
      :lastName.sync="lastName"
      :message.sync="message"
      :isSuccess.sync="isSuccess"
    />

    <br />

    <div ml-2>
      <comp-button :typeBtn="'success'" @handleAddPerson="handleAddPerson" />
    </div>

    <br />
    <br />

    <comp-table
      :listPerson="listPerson"
      @handleRemovePerson="handleRemovePerson"
    />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
    CompForm: () => import("./components/CompForm.vue"),
    CompTable: () => import("./components/CompTable.vue"),
    CompButton: () => import("./components/CompButton.vue"),
  },
  data() {
    return {
      listPerson: [
        { firstName: "Mark", lastName: "Otto" },
        { firstName: "Jacob", lastName: "Thornton" },
        { firstName: "Lazy", lastName: "Bird" },
      ],
      firstName: "aaaa",
      lastName: "",
      message: "",
      isSuccess: false,
    };
  },
  methods: {
    handleAddPerson() {
      console.log(this.firstName);
      if (this.firstName && this.lastName) {
        this.listPerson.push({
          firstName: this.firstName,
          lastName: this.lastName,
        });
        this.message = "Bạn đã thêm thành công!";
        this.isSuccess = true;
        this.firstName = "";
        this.lastName = "";
      } else {
        this.message = "không được để trống!";
        this.isSuccess = false;
      }
    },
    handleRemovePerson(index) {
      this.listPerson.splice(index, 1)
    },
  },
};
</script>

<style />
